{% extends 'main/base.html' %}

{% block body %}
<header>
    <h2>Data from parliament.uk</h2>
    <p>Uses the data <a href="http://explore.data.parliament.uk/">here</a> to get questions and answers. Clearly still a work in progress :) </p>
</header>

<section class="container">
    <header>
        <h3>Questions from parliament</h3>
    </header>
    <div class="row">
        {% for issue in issues %}
        <article class="col-md-4">
            <h5> {{ issue.question }} </h5>
            <p> {{ issue.answer }} </p>
            <a href="{{ issue.url }}">{{ issue.url }}</a>
        </article>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</section>

<footer>Work in progress built by anaoaktree.Go to <a href="https://github.com/anaoaktree/theimpartialmilitant">Github</a></footer>

{% endblock %}
