{% extends 'main/base.html' %}

{% block body %}
<header>
    <h3>Data from parliament.gov.uk</h3>
    <p>Uses the API to get questions and answers</p>
</header>

<section class="container">
    <header>
        <h1>Questions from parliament</h1>
    </header>
    <div class="row">
        {% for issue in issues %}
        <article class="col-md-4">
            <h5> {{ issue.question }} </h5>
            <p> {{ issue.answer }} </p>
            <a href="{{ issue.url }}">{{ issue.url }}</a>
        </article>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</section>

<footer>Work in progress built by anaoaktree.Go to <a href="https://github.com/anaoaktree/theimpartialmilitant">Github</a></footer>

{% endblock %}
